<div class="page">
  <h2 id="name">
    Phil Zheng
  </h2>

<div class=box-shadow>
  <div class="page__header">
    Search Term
  </div>
</div>

  <div class="tabs">
    <div class="tab-menu">
      <div class="tab-menu__item selected" target="#page1">ACCORDIAN</div>
      <div class="tab-menu__item" target="#page2">GRAPH</div>
    </div>
  
    <div class="tab-content " id="page1">
      <div class="card box-shadow">
        <% @videos["items"].each do |videos| %>
          <div class="list-item">
            <p> <%= videos["snippet"]["title"] %> </p>
            <p> <%= videos["snippet"]["channelTitle"] %> </p>
            <p> <%= DateTime.parse(videos["snippet"]["publishedAt"]).strftime("%B %e, %Y") %> </p>
            
            <p style="white-space: pre-line"> <%= videos["snippet"]["description"] %> </p>

            <img class="thumbnail" src=<%=videos["snippet"]["thumbnails"]["default"]["url"]%> alt="video-thumbnail">
          </div>
        <% end %>
      </div>
    </div>
  
    <div class="tab-content hidden" id="page2">
      <div class="card box-shadow">
        page2
      </div>
    </div>
  </div>

  <footer>

  </footer>

</div>
